#
#static const struct pci_device_id cp_pci_tbl[] = {
#        { PCI_DEVICE(PCI_VENDOR_ID_REALTEK,     PCI_DEVICE_ID_REALTEK_8139), },
#        { PCI_DEVICE(PCI_VENDOR_ID_TTTECH,      PCI_DEVICE_ID_TTTECH_MC322), },
#        { },
#};
#MODULE_DEVICE_TABLE(pci, cp_pci_tbl);
#

#define PCI_VENDOR_ID_REALTEK		0x10ec
#define PCI_DEVICE_ID_REALTEK_8139	0x8139
#define PCI_VENDOR_ID_TTTECH		0x0357
#define PCI_DEVICE_ID_TTTECH_MC322	0x000a

module="8139cp.ko"
harness="harness_net.so"
interface="eth0"
devtype=0
n_request_irqs=0xfffff
use_bst=1
apply_hacks=1
minimize_delay=1
minimize_timeout=1
minimize_timebefore=1
minimize_timeafter=1
minimize_wq_delay=1
target_irq=1
use_done_cb=1
fuzz_dma=1
vid=0x10ec
did=0x8139
revision=0x21
loglevel=0
moddeps=["mii.ko"]
barsizes=[0x1fffff, 0x1fffff, 0x1fffff]
barflags=[0x40200, 0x40200, 0x40200]
