module="8250_pci.ko"
#harness="fuzz_tty.so"
harness="fuzz_tpm.so"
loglevel=8
# Advantech
vid=0x13fe
did=0x3620
svid=0x3620
sdid=0x0001
#vid=0x14d4
#did=0x106a
moddeps=[ "serial_core.ko", "8250_base.ko",  "8250.ko" ]
barsizes=[0xfffff, 0xfffff, 0xfffff, 0xfffff, 0xfffff]
barflags=[0x40200, 0x40200, 0x40200, 0x40200, 0x40200]
