# admtek
# /* ADMtek ADM8211 */
#  { PCI_DEVICE(0x10B7, 0x6000) }, /* 3Com 3CRSHPW796 */
#  { PCI_DEVICE(0x1200, 0x8201) }, /* ? */
#  { PCI_DEVICE(0x1317, 0x8201) }, /* ADM8211A */
#  { PCI_DEVICE(0x1317, 0x8211) }, /* ADM8211B/C */
#  { 0 }

module="adm8211.ko"
interface="wlan0"
vid=0x10B7
did=0x6000
io_init="./io_init/adm8211/crash-34385a9685a2b5123f9b45b24edcb6677e38f2c2"
moddeps=["libarc4.ko", "cfg80211.ko", "mac80211.ko"]
fws=["fw/regulatory.db", "fw/regulatory.db.p7s"]
barsizes=[0x1fffff, 0x1fffff, 0x1fffff]
barflags=[0x40200, 0x40200, 0x40200]
