#
#static const struct pci_device_id amd8111e_pci_tbl[] = {
#	{
#	 .vendor = PCI_VENDOR_ID_AMD,
#	 .device = PCI_DEVICE_ID_AMD8111E_7462,
#	},
#	{
#	 .vendor = 0,
#	}
#};

#define	 PCI_VENDOR_ID_AMD		0x1022
#define PCI_DEVICE_ID_AMD_LANCE		0x2000
#define PCI_DEVICE_ID_AMD_LANCE_HOME	0x2001
#define  PCI_DEVICE_ID_AMD8111E_7462	0x7462

module="amd8111e.ko"
interface="eth0"
vid=0x1022
did=0x7462
moddeps=["mii.ko"]
