module="fuzz_acpi_module.ko"
harness="fuzz_platform_test.so"
plt_name="fw_cfg"
devtype=3
apply_hacks=1
minimize_delay=1
minimize_timeout=1
minimize_timebefore=1
minimize_timeafter=1
minimize_wq_delay=1
loglevel=0
interface="eth0"
vid=0x8086
did=0x1209
pci_class=0x0200
moddeps=[]
barsizes=[0x1fffff]
barflags=[0x40200]
