# ath10k
# static const struct pci_device_id ath10k_pci_id_table[] = {
#    /* PCI-E QCA988X V2 (Ubiquiti branded) */
#    { PCI_VDEVICE(UBIQUITI, QCA988X_2_0_DEVICE_ID_UBNT) },
#
#    { PCI_VDEVICE(ATHEROS, QCA988X_2_0_DEVICE_ID) }, /* PCI-E QCA988X V2 */
#    { PCI_VDEVICE(ATHEROS, QCA6164_2_1_DEVICE_ID) }, /* PCI-E QCA6164 V2.1 */
#    { PCI_VDEVICE(ATHEROS, QCA6174_2_1_DEVICE_ID) }, /* PCI-E QCA6174 V2.1 */
#    { PCI_VDEVICE(ATHEROS, QCA99X0_2_0_DEVICE_ID) }, /* PCI-E QCA99X0 V2 */
#    { PCI_VDEVICE(ATHEROS, QCA9888_2_0_DEVICE_ID) }, /* PCI-E QCA9888 V2 */
#    { PCI_VDEVICE(ATHEROS, QCA9984_1_0_DEVICE_ID) }, /* PCI-E QCA9984 V1 */
#    { PCI_VDEVICE(ATHEROS, QCA9377_1_0_DEVICE_ID) }, /* PCI-E QCA9377 V1 */
#    { PCI_VDEVICE(ATHEROS, QCA9887_1_0_DEVICE_ID) }, /* PCI-E QCA9887 */
#    {0}
# };
#  #define QCA988X_2_0_DEVICE_ID_UBNT   (0x11ac)
#  #define QCA988X_2_0_DEVICE_ID   (0x003c)
#  #define QCA6164_2_1_DEVICE_ID   (0x0041)
#  #define QCA6174_2_1_DEVICE_ID   (0x003e)
#  #define QCA6174_3_2_DEVICE_ID   (0x0042)
#  #define QCA99X0_2_0_DEVICE_ID   (0x0040)
#  #define QCA9888_2_0_DEVICE_ID (0x0056)
#  #define QCA9984_1_0_DEVICE_ID (0x0046)
#  #define QCA9377_1_0_DEVICE_ID   (0x0042)
#  #define QCA9887_1_0_DEVICE_ID   (0x0050)
#
#  /* QCA988X 1.0 definitions (unsupported) */
#  #define QCA988X_HW_1_0_CHIP_ID_REV  0x0

module="ath10k_pci.ko"
interface="wlan0"
harness="fuzz_net_icmp.so"
loglevel=8
vid=0x168c
did=0x0042
moddeps=["led-class.ko", "firmware_class.ko", "libarc4.ko", "cfg80211.ko", "mac80211.ko", "ath.ko", "ath10k_core.ko"]
fws=["fw/regulatory.db", "fw/regulatory.db.p7s"]
