# ath5k
# { PCI_VDEVICE(ATHEROS, 0x0207) }, /* 5210 early */
# { PCI_VDEVICE(ATHEROS, 0x0007) }, /* 5210 */
# { PCI_VDEVICE(ATHEROS, 0x0011) }, /* 5311 - this is on AHB bus !*/
# { PCI_VDEVICE(ATHEROS, 0x0012) }, /* 5211 */
# { PCI_VDEVICE(ATHEROS, 0x0013) }, /* 5212 */
# { PCI_VDEVICE(3COM_2,  0x0013) }, /* 3com 5212 */
# { PCI_VDEVICE(3COM,    0x0013) }, /* 3com 3CRDAG675 5212 */
# { PCI_VDEVICE(ATHEROS, 0x1014) }, /* IBM minipci 5212 */
# { PCI_VDEVICE(ATHEROS, 0x0014) }, /* 5212 compatible */
# { PCI_VDEVICE(ATHEROS, 0x0015) }, /* 5212 compatible */
# { PCI_VDEVICE(ATHEROS, 0x0016) }, /* 5212 compatible */
# { PCI_VDEVICE(ATHEROS, 0x0017) }, /* 5212 compatible */
# { PCI_VDEVICE(ATHEROS, 0x0018) }, /* 5212 compatible */
# { PCI_VDEVICE(ATHEROS, 0x0019) }, /* 5212 compatible */
# { PCI_VDEVICE(ATHEROS, 0x001a) }, /* 2413 Griffin-lite */
# { PCI_VDEVICE(ATHEROS, 0x001b) }, /* 5413 Eagle */
# { PCI_VDEVICE(ATHEROS, 0x001c) }, /* PCI-E cards */
# { PCI_VDEVICE(ATHEROS, 0x001d) }, /* 2417 Nala */
# { PCI_VDEVICE(ATHEROS, 0xff1b) }, /* AR5BXB63 */
# { 0 }

module="ath5k.ko"
interface="wlan0"
harness="fuzz_net_icmp.so"
loglevel=8
vid=0x168c
did=0x0014
moddeps=["led-class.ko", "firmware_class.ko", "libarc4.ko", "cfg80211.ko", "mac80211.ko", "ath.ko"]
fws=["fw/regulatory.db", "fw/regulatory.db.p7s"]
