# ath9k
#   { PCI_VDEVICE(ATHEROS, 0x0023) }, /* PCI   */
#   { PCI_VDEVICE(ATHEROS, 0x0024) }, /* PCI-E */
#   { PCI_VDEVICE(ATHEROS, 0x0027) }, /* PCI   */
module="ath9k.ko"
interface="wlan0"
vid=0x168c
did=0x0023
moddeps=["led-class.ko", "libarc4.ko", "cfg80211.ko", "mac80211.ko", "ath.ko", "ath9k_hw.ko", "ath9k_common.ko"]
fws=["fw/regulatory.db", "fw/regulatory.db.p7s"]
