#static const struct pci_device_id atl1_pci_tbl[] = {
#	{PCI_DEVICE(PCI_VENDOR_ID_ATTANSIC, PCI_DEVICE_ID_ATTANSIC_L1)},

#define PCI_VENDOR_ID_ATTANSIC		0x1969
#define PCI_DEVICE_ID_ATTANSIC_L1	0x1048
#define PCI_DEVICE_ID_ATTANSIC_L2	0x2048
module="atl1.ko"
interface="eth0"
vid=0x1969
did=0x1048
moddeps=["mii.ko"]
