#define PCI_VENDOR_ID_ATTANSIC		0x1969
#define PCI_DEVICE_ID_ATTANSIC_L1	0x1048
#define PCI_DEVICE_ID_ATTANSIC_L2	0x2048
#define PCI_DEVICE_ID_ATTANSIC_L1E      0x1026
#static const struct pci_device_id atl1e_pci_tbl[] = {
#	{PCI_DEVICE(PCI_VENDOR_ID_ATTANSIC, PCI_DEVICE_ID_ATTANSIC_L1E)},
#	{PCI_DEVICE(PCI_VENDOR_ID_ATTANSIC, 0x1066)},
#	/* required last entry */
#	{ 0 }
#};
#MODULE_DEVICE_TABLE(pci, atl1e_pci_tbl);
#

module="atl1e.ko"
interface="eth0"
vid=0x1969
did=0x1066
moddeps=[]
