# amtel
#
#static const struct pci_device_id card_ids[] = {
#	{ 0x1114, 0x0506, PCI_ANY_ID, PCI_ANY_ID },
#	{ 0, }
#};


module="atmel_pci.ko"
interface="eth0"
vid=4372
did=1286
moddeps=["libarc4.ko", "cfg80211.ko", "atmel.ko"]
fws=["fw/regulatory.db", "fw/regulatory.db.p7s", "fw/atmel_at76c502-wpa.bin", "fw/atmel_at76c502.bin", "fw/atmel_at76c502d-wpa.bin", "fw/atmel_at76c502d.bin", "fw/atmel_at76c502e-wpa.bin", "fw/atmel_at76c502e.bin", "fw/atmel_at76c502_3com-wpa.bin", "fw/atmel_at76c502_3com.bin", "fw/atmel_at76c504.bin", "fw/atmel_at76c504_2958-wpa.bin", "fw/atmel_at76c504a_2958-wpa.bin", "fw/atmel_at76c506-wpa.bin", "fw/atmel_at76c506.bin"]
#, "fw/atmel_at76c504-wpa.bin"
#, "fw/atmel_at76c504_2958.bin"
#, "fw/atmel_at76c504a_2958.bin"
