#static const struct pci_device_id fcpci_ids[] = {
#	{ PCI_VENDOR_ID_AVM, PCI_DEVICE_ID_AVM_A1, PCI_ANY_ID, PCI_ANY_ID,
#	  0, 0, (unsigned long) "Fritz!Card PCI"},
#	{ PCI_VENDOR_ID_AVM, PCI_DEVICE_ID_AVM_A1_V2, PCI_ANY_ID, PCI_ANY_ID,
#	  0, 0, (unsigned long) "Fritz!Card PCI v2" },
#	{ }
#};

#define PCI_VENDOR_ID_AVM		0x1244
#define PCI_DEVICE_ID_AVM_B1		0x0700
#define PCI_DEVICE_ID_AVM_C4		0x0800
#define PCI_DEVICE_ID_AVM_A1		0x0a00
#define PCI_DEVICE_ID_AVM_A1_V2		0x0e00
#define PCI_DEVICE_ID_AVM_C2		0x1100
#define PCI_DEVICE_ID_AVM_T1		0x1200


module="avmfritz.ko"
interface="eth0"
vid=0x1244
did=0x0a00
moddeps=["mISDN_core.ko", "mISDNipac.ko"]
