3
3static const struct pci_device_id bnad_pci_id_table[] = {
3	{
3		PCI_DEVICE(PCI_VENDOR_ID_BROCADE,
3			PCI_DEVICE_ID_BROCADE_CT),
3		.class = PCI_CLASS_NETWORK_ETHERNET << 8,
3		.class_mask =  0xffff00
3	},
3	{
3		PCI_DEVICE(PCI_VENDOR_ID_BROCADE,
3			BFA_PCI_DEVICE_ID_CT2),
3		.class = PCI_CLASS_NETWORK_ETHERNET << 8,
3		.class_mask =  0xffff00
3	},
3	{0,  },
3};



#define PCI_VENDOR_ID_BROCADE		0x1657
#define PCI_DEVICE_ID_BROCADE_CT	0x0014
#define PCI_DEVICE_ID_BROCADE_FC_8G1P	0x0017
#define PCI_DEVICE_ID_BROCADE_CT_FC	0x0021

module="bna.ko"
interface="eth0"
vid=0x1657
did=0x0014
moddeps=[]
