
#define PCI_VENDOR_ID_SUN		0x108e
#define PCI_DEVICE_ID_SUN_EBUS		0x1000
#define PCI_DEVICE_ID_SUN_HAPPYMEAL	0x1001
#define PCI_DEVICE_ID_SUN_RIO_EBUS	0x1100
#define PCI_DEVICE_ID_SUN_RIO_GEM	0x1101
#define PCI_DEVICE_ID_SUN_RIO_1394	0x1102
#define PCI_DEVICE_ID_SUN_RIO_USB	0x1103
#define PCI_DEVICE_ID_SUN_GEM		0x2bad
#define PCI_DEVICE_ID_SUN_SIMBA		0x5000
#define PCI_DEVICE_ID_SUN_PBM		0x8000
#define PCI_DEVICE_ID_SUN_SCHIZO	0x8001
#define PCI_DEVICE_ID_SUN_SABRE		0xa000
#define PCI_DEVICE_ID_SUN_HUMMINGBIRD	0xa001
#define PCI_DEVICE_ID_SUN_TOMATILLO	0xa801
#define PCI_DEVICE_ID_SUN_CASSINI	0xabba

#
#static const struct pci_device_id cas_pci_tbl[] = {
#	{ PCI_VENDOR_ID_SUN, PCI_DEVICE_ID_SUN_CASSINI,
#	  PCI_ANY_ID, PCI_ANY_ID, 0, 0, 0UL },
#	{ PCI_VENDOR_ID_NS, PCI_DEVICE_ID_NS_SATURN,
#	  PCI_ANY_ID, PCI_ANY_ID, 0, 0, 0UL },
#	{ 0, }
#};


module="cassini.ko"
interface="eth0"
vid=0x108e
did=0xabba
moddeps=[]
