#
#static const struct pci_device_id cavium_ptp_id_table[] = {
#	{ PCI_DEVICE(PCI_VENDOR_ID_CAVIUM, PCI_DEVICE_ID_CAVIUM_PTP) },
#	{ 0, }
#};
#
#define PCI_DEVICE_ID_CAVIUM_PTP	0xA00C
#define PCI_DEVICE_ID_CAVIUM_RST	0xA00E
#define PCI_VENDOR_ID_CAVIUM		0x177d

module="cavium_ptp.ko"
interface="ptp0"
#ifindex=4
vid=0x177d
did=0xa00c
moddeps=["pps_core.ko", "ptp.ko"]
