#static const struct pci_device_id c_can_pci_tbl[] = {
#	C_CAN_ID(PCI_VENDOR_ID_STMICRO, PCI_DEVICE_ID_STMICRO_CAN,
#		 c_can_sta2x11),
#	C_CAN_ID(PCI_VENDOR_ID_INTEL, PCI_DEVICE_ID_PCH_CAN,
#		 c_can_pch),
#	{},
#};

#define PCI_VENDOR_ID_STMICRO		0x104A
#define PCI_DEVICE_ID_STMICRO_CAN	0xCC11
#define PCI_VENDOR_ID_INTEL		0x8086
#define PCI_DEVICE_ID_PCH_CAN	0x8818

module="c_can_pci.ko"
interface="can0"
vid=0x104A
did=0xCC11
moddeps=["can-dev.ko", "c_can.ko"]
