##define CH_DEVICE(devid, ssid, idx) \
#	{ PCI_VENDOR_ID_CHELSIO, devid, PCI_ANY_ID, ssid, 0, 0, idx }
#
#
# define PCI_VENDOR_ID_CHELSIO 0x1425
#
#CH_PCI_DEVICE_ID_TABLE_DEFINE_BEGIN
#	/* T4 adapters:
#	 */
#	CH_PCI_ID_TABLE_FENTRY(0x4000),	/* T440-dbg */
#	CH_PCI_ID_TABLE_FENTRY(0x4001),	/* T420-cr */
#	CH_PCI_ID_TABLE_FENTRY(0x4002),	/* T422-cr */
#	CH_PCI_ID_TABLE_FENTRY(0x4003),	/* T440-cr */
#	CH_PCI_ID_TABLE_FENTRY(0x4004),	/* T420-bch */
#	CH_PCI_ID_TABLE_FENTRY(0x4005),	/* T440-bch */
#	CH_PCI_ID_TABLE_FENTRY(0x4006),	/* T440-ch */
#	CH_PCI_ID_TABLE_FENTRY(0x4007),	/* T420-so */
#	CH_PCI_ID_TABLE_FENTRY(0x4008),	/* T420-cx */
#	CH_PCI_ID_TABLE_FENTRY(0x4009),	/* T420-bt */
#	CH_PCI_ID_TABLE_FENTRY(0x400a),	/* T404-bt */
#	CH_PCI_ID_TABLE_FENTRY(0x400b),	/* B420-sr */
#	CH_PCI_ID_TABLE_FENTRY(0x400c),	/* B404-bt */
#	CH_PCI_ID_TABLE_FENTRY(0x400d),	/* T480-cr */
#	CH_PCI_ID_TABLE_FENTRY(0x400e),	/* T440-LP-cr */
#	CH_PCI_ID_TABLE_FENTRY(0x4080),	/* Custom T480-cr */
#	CH_PCI_ID_TABLE_FENTRY(0x4081),	/* Custom T440-cr */
#	CH_PCI_ID_TABLE_FENTRY(0x4082),	/* Custom T420-cr */
#	CH_PCI_ID_TABLE_FENTRY(0x4083),	/* Custom T420-xaui */
#	CH_PCI_ID_TABLE_FENTRY(0x4084),	/* Custom T440-cr */
#	CH_PCI_ID_TABLE_FENTRY(0x4085),	/* Custom T420-cr */
#	CH_PCI_ID_TABLE_FENTRY(0x4086),	/* Custom T440-bt */
#	CH_PCI_ID_TABLE_FENTRY(0x4087),	/* Custom T440-cr */
#	CH_PCI_ID_TABLE_FENTRY(0x4088),	/* Custom T440 2-xaui, 2-xfi */
#

#define CXGB4_UNIFIED_PF 0x4

#define CH_PCI_DEVICE_ID_FUNCTION CXGB4_UNIFIED_PF
module="cxgb4.ko"
interface="eth0"
vid=0x1425
did=0x4400
moddeps=["pps_core.ko", "ptp.ko"]
fws=["fw/t4-config.txt"]
