#
#static const struct pci_device_id de_pci_tbl[] = {
#	{ PCI_VENDOR_ID_DEC, PCI_DEVICE_ID_DEC_TULIP,
#	  PCI_ANY_ID, PCI_ANY_ID, 0, 0, 0 },
#	{ PCI_VENDOR_ID_DEC, PCI_DEVICE_ID_DEC_TULIP_PLUS,
#	  PCI_ANY_ID, PCI_ANY_ID, 0, 0, 1 },
#	{ },
#};

#define PCI_VENDOR_ID_DEC		0x1011
#define PCI_DEVICE_ID_DEC_TULIP		0x0002
#define PCI_DEVICE_ID_DEC_TULIP_FAST	0x0009
#define PCI_DEVICE_ID_DEC_TULIP_PLUS	0x0014

module="de2104x.ko"
interface="eth0"
vid=0x1011
did=0x0014
moddeps=[]
barsizes=[0x1fffff, 0x1fffff, 0x1fffff]
barflags=[0x40200, 0x40200, 0x40200]
