##define INTEL_8255X_ETHERNET_DEVICE(device_id, ich) {\
#	PCI_VENDOR_ID_INTEL, device_id, PCI_ANY_ID, PCI_ANY_ID, \
#	PCI_CLASS_NETWORK_ETHERNET << 8, 0xFFFF00, ich }
#static const struct pci_device_id e100_id_table[] = {
#	INTEL_8255X_ETHERNET_DEVICE(0x1029, 0),
#	INTEL_8255X_ETHERNET_DEVICE(0x1030, 0),
#	INTEL_8255X_ETHERNET_DEVICE(0x1031, 3),
#	INTEL_8255X_ETHERNET_DEVICE(0x1032, 3),
#	INTEL_8255X_ETHERNET_DEVICE(0x1033, 3),
#	INTEL_8255X_ETHERNET_DEVICE(0x1034, 3),
#	INTEL_8255X_ETHERNET_DEVICE(0x1038, 3),
#	INTEL_8255X_ETHERNET_DEVICE(0x1039, 4),
#	INTEL_8255X_ETHERNET_DEVICE(0x103A, 4),
#	INTEL_8255X_ETHERNET_DEVICE(0x103B, 4),
#	INTEL_8255X_ETHERNET_DEVICE(0x103C, 4),
#	INTEL_8255X_ETHERNET_DEVICE(0x103D, 4),
#	INTEL_8255X_ETHERNET_DEVICE(0x103E, 4),
#	INTEL_8255X_ETHERNET_DEVICE(0x1050, 5),
#	INTEL_8255X_ETHERNET_DEVICE(0x1051, 5),
#	INTEL_8255X_ETHERNET_DEVICE(0x1052, 5),
#	INTEL_8255X_ETHERNET_DEVICE(0x1053, 5),
#	INTEL_8255X_ETHERNET_DEVICE(0x1054, 5),
#	INTEL_8255X_ETHERNET_DEVICE(0x1055, 5),
#	INTEL_8255X_ETHERNET_DEVICE(0x1056, 5),
#	INTEL_8255X_ETHERNET_DEVICE(0x1057, 5),
#	INTEL_8255X_ETHERNET_DEVICE(0x1059, 0),
#	INTEL_8255X_ETHERNET_DEVICE(0x1064, 6),
#	INTEL_8255X_ETHERNET_DEVICE(0x1065, 6),
#	INTEL_8255X_ETHERNET_DEVICE(0x1066, 6),
#	INTEL_8255X_ETHERNET_DEVICE(0x1067, 6),
#	INTEL_8255X_ETHERNET_DEVICE(0x1068, 6),
#	INTEL_8255X_ETHERNET_DEVICE(0x1069, 6),
#	INTEL_8255X_ETHERNET_DEVICE(0x106A, 6),
#	INTEL_8255X_ETHERNET_DEVICE(0x106B, 6),
#	INTEL_8255X_ETHERNET_DEVICE(0x1091, 7),
#	INTEL_8255X_ETHERNET_DEVICE(0x1092, 7),
#	INTEL_8255X_ETHERNET_DEVICE(0x1093, 7),
#	INTEL_8255X_ETHERNET_DEVICE(0x1094, 7),
#	INTEL_8255X_ETHERNET_DEVICE(0x1095, 7),
#	INTEL_8255X_ETHERNET_DEVICE(0x10fe, 7),
#	INTEL_8255X_ETHERNET_DEVICE(0x1209, 0),
#	INTEL_8255X_ETHERNET_DEVICE(0x1229, 0),
#	INTEL_8255X_ETHERNET_DEVICE(0x2449, 2),
#	INTEL_8255X_ETHERNET_DEVICE(0x2459, 2),
#	INTEL_8255X_ETHERNET_DEVICE(0x245D, 2),
#	INTEL_8255X_ETHERNET_DEVICE(0x27DC, 7),
#	{ 0, }
#};
#MODULE_DEVICE_TABLE(pci, e100_id_table);
#define PCI_VENDOR_ID_INTEL 0x8086
#define PCI_CLASS_NETWORK_ETHERNET	0x0200

module="e100.ko"
harness="harness_net.so"
loglevel=0
interface="eth0"
devtype=0
n_request_irqs=0xffffff
apply_hacks=1
minimize_delay=1
minimize_timeout=1
minimize_timebefore=1
minimize_timeafter=1
minimize_wq_delay=1
target_irq=1
use_done_cb=1
fuzz_dma=1
vid=0x8086
did=0x1209
pci_class=0x0200
moddeps=["mii.ko", "firmware_class.ko"]
barsizes=[0x1fffff]
barflags=[0x40200]
