module="e1000e.ko"
request_irqs=0xffffff
harness="fuzz_net_icmp.so"
loglevel=0
interface="eth0"
apply_hacks=1
vid=0x8086
did=0x105e
#moddeps=["i2c-core.ko", "i2c-algo-bit.ko", "igb.ko"]
moddeps=[]
barsizes=[0x1ffff, 0x1ffff, 0x1ffff, 0x1ffff, 0x1ffff, 0x1fffff]
barflags=[0x40200, 0x40200, 0x40200, 0x40200, 0x40200, 0x40200]
