#static const struct pci_device_id bypass_pci_id_table[] = {
#   /* ChipIdea on Intel MID platform */
#   { PCI_DEVICE(PCI_VENDOR_ID_INTEL, 0x0811), },
#   { PCI_DEVICE(PCI_VENDOR_ID_INTEL, 0x0829), },
#   { PCI_DEVICE(PCI_VENDOR_ID_INTEL, 0xe006), },
#   {}
#};
#define PCI_VENDOR_ID_INTEL 0x8086
#define PCI_CLASS_SERIAL_USB_EHCI   0x0c0320
#define PCI_VENDOR_ID_STMICRO    0x104A
#define PCI_DEVICE_ID_STMICRO_USB_HOST 0xCC00


module="ehci-pci.ko"
harness="fuzz_platform_test.so"
loglevel=0
devtype=0
request_irqs=0xffffff
apply_hacks=1
minimize_delay=1
minimize_timeout=1
minimize_timebefore=1
minimize_timeafter=1
minimize_wq_delay=1
vid=0x104a
did=0xcc00
moddeps=["ehci-hcd.ko"]
#io_init="./initializer_gve.bin"
barsizes=[0xfffff, 0xfffff, 0xfffff, 0xfffff]
barflags=[0x40200, 0x40200, 0x40200, 0x40200]
