#
#static const struct pci_device_id epic_pci_tbl[] = {
#	{ 0x10B8, 0x0005, 0x1092, 0x0AB4, 0, 0, SMSC_83C170_0 },
#	{ 0x10B8, 0x0005, PCI_ANY_ID, PCI_ANY_ID, 0, 0, SMSC_83C170 },
#	{ 0x10B8, 0x0006, PCI_ANY_ID, PCI_ANY_ID,
#	  PCI_CLASS_NETWORK_ETHERNET << 8, 0xffff00, SMSC_83C175 },
#	{ 0,}
#};
#MODULE_DEVICE_TABLE (pci, epic_pci_tbl);
#

module="epic100.ko"
interface="eth0"
vid=0x10b8
did=0x0006
pci_class=0x0200
moddeps=["mii.ko"]
