#
#static const struct pci_device_id et131x_pci_table[] = {
#	{ PCI_VDEVICE(ATT, ET131X_PCI_DEVICE_ID_GIG), 0UL},
#	{ PCI_VDEVICE(ATT, ET131X_PCI_DEVICE_ID_FAST), 0UL},
#	{ 0,}
#};

#define ET131X_PCI_DEVICE_ID_GIG	0xED00	/* ET1310 1000 Base-T 8 */
#define ET131X_PCI_DEVICE_ID_FAST	0xED01	/* ET1310 100  Base-T */
#define PCI_VENDOR_ID_ATT		0x11c1

module="et131x.ko"
interface="eth0"
vid=0x11c1
did=0xed00
moddeps=["libphy.ko"]
