#
#static const struct pci_device_id fealnx_pci_tbl[] = {
#	{0x1516, 0x0800, PCI_ANY_ID, PCI_ANY_ID, 0, 0, 0},
#	{0x1516, 0x0803, PCI_ANY_ID, PCI_ANY_ID, 0, 0, 1},
#	{0x1516, 0x0891, PCI_ANY_ID, PCI_ANY_ID, 0, 0, 2},
#	{} /* terminate list */
#};
#

module="fealnx.ko"
interface="eth0"
vid=0x1516
did=0x0891
moddeps=["mii.ko"]
