module="gve.ko"
harness="fuzz_net_icmp.so"
loglevel=0
interface="eth0"
request_irqs=0xffffff
minimize_delay=1
minimize_timeout=1
minimize_timebefore=1
minimize_timeafter=1
minimize_wq_delay=1
vid=0x1ae0
did=0x0042
moddeps=[]
#io_init="./initializer_gve.bin"
barsizes=[0xfffff, 0xfffff, 0xfffff, 0xfffff, 0xfffff]
barflags=[0x40200, 0x40200, 0x40200, 0x40200, 0x40200]
