#
#static const struct pci_device_id gve_id_table[] = {
#	{ PCI_DEVICE(PCI_VENDOR_ID_GOOGLE, PCI_DEV_ID_GVNIC) },
#	{ }
#};
#

#define PCI_VENDOR_ID_GOOGLE	0x1ae0
#define PCI_DEV_ID_GVNIC	0x0042

module="gve.ko"
harness="fuzz_test_probe.so"
loglevel=0
interface="eth0"
devtype=0
n_request_irqs=0xffffff
apply_hacks=1
minimize_delay=1
minimize_timeout=1
minimize_timebefore=1
minimize_timeafter=1
minimize_wq_delay=1
target_irq=1
use_done_cb=1
fuzz_dma=1
vid=0x1ae0
did=0x0042
moddeps=[]
#io_init="./initializer_gve.bin"
barsizes=[0xfffff, 0xfffff, 0xfffff, 0xfffff]
barflags=[0x40200, 0x40200, 0x40200, 0x40200]
