$
$static const struct pci_device_id jme_pci_tbl[] = {
$	{ PCI_VDEVICE(JMICRON, PCI_DEVICE_ID_JMICRON_JMC250) },
$	{ PCI_VDEVICE(JMICRON, PCI_DEVICE_ID_JMICRON_JMC260) },
$	{ }
$};
$

#define PCI_VENDOR_ID_JMICRON		0x197B
#define PCI_DEVICE_ID_JMICRON_JMC250	0x0250
#define PCI_DEVICE_ID_JMICRON_JMC260	0x0260
module="jme.ko"
interface="eth0"
vid=0x197b
did=0x0260
moddeps=["mii.ko"]
