#
#static const struct pci_device_id pcidev_table[] = {
#	{ PCI_VENDOR_ID_MICREL_KS, 0x8841,
#		PCI_ANY_ID, PCI_ANY_ID, 0, 0, 0 },
#	{ PCI_VENDOR_ID_MICREL_KS, 0x8842,
#		PCI_ANY_ID, PCI_ANY_ID, 0, 0, 0 },
#	{ 0 }
#};

#define PCI_VENDOR_ID_MICREL_KS		0x16c6
module="ksz884x.ko"
interface="eth0"
vid=0x16c6
did=0x8842
moddeps=["mii.ko"]
