#
#static const struct pci_device_id lan743x_pcidev_tbl[] = {
#	{ PCI_DEVICE(PCI_VENDOR_ID_SMSC, PCI_DEVICE_ID_SMSC_LAN7430) },
#	{ PCI_DEVICE(PCI_VENDOR_ID_SMSC, PCI_DEVICE_ID_SMSC_LAN7431) },
#	{ 0, }
#};

# #define PCI_VENDOR_ID_EFAR		0x1055
# /* SMSC acquired EFAR late 1990's, MCHP acquired SMSC 2012 */
# #define PCI_VENDOR_ID_SMSC		PCI_VENDOR_ID_EFAR
# #define PCI_DEVICE_ID_SMSC_LAN7430	(0x7430)
# #define PCI_DEVICE_ID_SMSC_LAN7431	(0x7431)


module="lan743x.ko"
#interface="eth0"
ifindex=4
vid=0x1055
did=0x7431
moddeps=["libphy.ko", "pps_core.ko", "ptp.ko"]
