# liquidio.ko
#
#static const struct pci_device_id liquidio_pci_tbl[] = {
#	{       /* 68xx */
#		PCI_VENDOR_ID_CAVIUM, 0x91, PCI_ANY_ID, PCI_ANY_ID, 0, 0, 0
#	},
#	{       /* 66xx */
#		PCI_VENDOR_ID_CAVIUM, 0x92, PCI_ANY_ID, PCI_ANY_ID, 0, 0, 0
#	},
#	{       /* 23xx pf */
#		PCI_VENDOR_ID_CAVIUM, 0x9702, PCI_ANY_ID, PCI_ANY_ID, 0, 0, 0
#	},
#	{
#		0, 0, 0, 0, 0, 0, 0
#	}
#};
#define  OCTEON_CN23XX_PF_VID         0x9702
#define  OCTEON_CN23XX_VF_VID         0x9712
#define PCI_VENDOR_ID_CAVIUM		0x177d

module="liquidio.ko"
interface="eth0"
vid=0x177d
did=0x9702
moddeps=["pps_core.ko", "ptp.ko"]
