
#define PCI_DEVICE_ID_MYRICOM_MYRI10GE_Z8E 	0x0008
#define PCI_DEVICE_ID_MYRICOM_MYRI10GE_Z8E_9	0x0009
#define PCI_VENDOR_ID_MYRICOM		0x14c1
#static const struct pci_device_id myri10ge_pci_tbl[] = {
#	{PCI_DEVICE(PCI_VENDOR_ID_MYRICOM, PCI_DEVICE_ID_MYRICOM_MYRI10GE_Z8E)},
#	{PCI_DEVICE
#	 (PCI_VENDOR_ID_MYRICOM, PCI_DEVICE_ID_MYRICOM_MYRI10GE_Z8E_9)},
#	{0},
#};

module="myri10ge.ko"
interface="eth0"
vid=0x14c1
did=0x0009
moddeps=[]
