#
#static const struct pci_device_id natsemi_pci_tbl[] = {
#	{ PCI_VENDOR_ID_NS, 0x0020, 0x12d9,     0x000c,     0, 0, 0 },
#	{ PCI_VENDOR_ID_NS, 0x0020, PCI_ANY_ID, PCI_ANY_ID, 0, 0, 1 },
#	{ }	/* terminate list */
#};
#MODULE_DEVICE_TABLE(pci, natsemi_pci_tbl);
#define PCI_VENDOR_ID_NS		0x100b


module="natsemi.ko"
interface="eth0"
vid=0x100b
did=0x0020
moddeps=[]
