#
#static const struct pci_device_id nfp_pci_device_ids[] = {
#	{ PCI_VENDOR_ID_NETRONOME, PCI_DEVICE_ID_NETRONOME_NFP6000,
#	  PCI_VENDOR_ID_NETRONOME, PCI_ANY_ID,
#	  PCI_ANY_ID, 0,
#	},
#	{ PCI_VENDOR_ID_NETRONOME, PCI_DEVICE_ID_NETRONOME_NFP5000,
#	  PCI_VENDOR_ID_NETRONOME, PCI_ANY_ID,
#	  PCI_ANY_ID, 0,
#	},
#	{ PCI_VENDOR_ID_NETRONOME, PCI_DEVICE_ID_NETRONOME_NFP4000,
#	  PCI_VENDOR_ID_NETRONOME, PCI_ANY_ID,
#	  PCI_ANY_ID, 0,
#	},
#	{ 0, } /* Required last entry. */
#};
#MODULE_DEVICE_TABLE(pci, nfp_pci_device_ids);

#define PCI_VENDOR_ID_NETRONOME		0x19ee
#define PCI_DEVICE_ID_NETRONOME_NFP4000	0x4000
#define PCI_DEVICE_ID_NETRONOME_NFP5000	0x5000
#define PCI_DEVICE_ID_NETRONOME_NFP6000	0x6000
#define PCI_DEVICE_ID_NETRONOME_NFP6000_VF	0x6003

module="nfp.ko"
interface="eth0"
vid=0x19ee
did=0x6000
moddeps=[]
