#
#/* Supported devices */
#static const struct pci_device_id nic_id_table[] = {
#	{ PCI_DEVICE(PCI_VENDOR_ID_CAVIUM, PCI_DEVICE_ID_THUNDER_NIC_PF) },
#	{ 0, }  /* end of table */
#};
#define PCI_VENDOR_ID_CAVIUM		0x177d
/* PCI device IDs */
#define	PCI_DEVICE_ID_THUNDER_NIC_PF		0xA01E
#define	PCI_DEVICE_ID_THUNDER_PASS1_NIC_VF	0x0011
#define	PCI_DEVICE_ID_THUNDER_NIC_VF		0xA034
#define	PCI_DEVICE_ID_THUNDER_BGX		0xA026


module="nicpf.ko"
interface="eth0"
vid=0x177d
did=0xa01e
moddeps=["libphy.ko", "thunder_xcv.ko", "thunder_bgx.ko"]
