#
#/* Supported devices */
#static const struct pci_device_id nicvf_id_table[] = {
#	{ PCI_DEVICE_SUB(PCI_VENDOR_ID_CAVIUM,
#			 PCI_DEVICE_ID_THUNDER_NIC_VF,
#			 PCI_VENDOR_ID_CAVIUM,
#			 PCI_SUBSYS_DEVID_88XX_NIC_VF) },
#	{ PCI_DEVICE_SUB(PCI_VENDOR_ID_CAVIUM,
#			 PCI_DEVICE_ID_THUNDER_PASS1_NIC_VF,
#			 PCI_VENDOR_ID_CAVIUM,
#			 PCI_SUBSYS_DEVID_88XX_PASS1_NIC_VF) },
#	{ PCI_DEVICE_SUB(PCI_VENDOR_ID_CAVIUM,
#			 PCI_DEVICE_ID_THUNDER_NIC_VF,
#			 PCI_VENDOR_ID_CAVIUM,
#			 PCI_SUBSYS_DEVID_81XX_NIC_VF) },
#	{ PCI_DEVICE_SUB(PCI_VENDOR_ID_CAVIUM,
#			 PCI_DEVICE_ID_THUNDER_NIC_VF,
#			 PCI_VENDOR_ID_CAVIUM,
#			 PCI_SUBSYS_DEVID_83XX_NIC_VF) },
#	{ 0, }  /* end of table */
#};
#define PCI_VENDOR_ID_CAVIUM		0x177d
/* PCI device IDs */
#define	PCI_DEVICE_ID_THUNDER_NIC_PF		0xA01E
#define	PCI_DEVICE_ID_THUNDER_PASS1_NIC_VF	0x0011
#define	PCI_DEVICE_ID_THUNDER_NIC_VF		0xA034
#define	PCI_DEVICE_ID_THUNDER_BGX		0xA026
#define PCI_SUBSYS_DEVID_88XX_NIC_VF		0xA134


module="nicvf.ko"
interface="eth0"
vid=0x177d
did=0xa034
svid=0x177d
sdid=0xa134
moddeps=["pps_core.ko", "ptp.ko", "cavium_ptp.ko"]
