#
#static const struct pci_device_id nvme_id_table[] = {
#	{ PCI_VDEVICE(INTEL, 0x0953),	/* Intel 750/P3500/P3600/P3700 */
#		.driver_data = NVME_QUIRK_STRIPE_SIZE |
#				NVME_QUIRK_DEALLOCATE_ZEROES, },
#	{ PCI_VDEVICE(INTEL, 0x0a53),	/* Intel P3520 */
#		.driver_data = NVME_QUIRK_STRIPE_SIZE |
#				NVME_QUIRK_DEALLOCATE_ZEROES, },
#	{ PCI_VDEVICE(INTEL, 0x0a54),	/* Intel P4500/P4600 */
#		.driver_data = NVME_QUIRK_STRIPE_SIZE |
#				NVME_QUIRK_DEALLOCATE_ZEROES, },
#	{ PCI_VDEVICE(INTEL, 0x0a55),	/* Dell Express Flash P4600 */
#		.driver_data = NVME_QUIRK_STRIPE_SIZE |
#				NVME_QUIRK_DEALLOCATE_ZEROES, },
#	{ PCI_VDEVICE(INTEL, 0xf1a5),	/* Intel 600P/P3100 */
#		.driver_data = NVME_QUIRK_NO_DEEPEST_PS |
#				NVME_QUIRK_MEDIUM_PRIO_SQ |
#				NVME_QUIRK_NO_TEMP_THRESH_CHANGE |
#				NVME_QUIRK_DISABLE_WRITE_ZEROES, },
#	{ PCI_VDEVICE(INTEL, 0xf1a6),	/* Intel 760p/Pro 7600p */
#		.driver_data = NVME_QUIRK_IGNORE_DEV_SUBNQN, },
#	{ PCI_VDEVICE(INTEL, 0x5845),	/* Qemu emulated controller */
#		.driver_data = NVME_QUIRK_IDENTIFY_CNS |
#				NVME_QUIRK_DISABLE_WRITE_ZEROES, },
#	{ PCI_DEVICE(0x126f, 0x2263),	/* Silicon Motion unidentified */
#		.driver_data = NVME_QUIRK_NO_NS_DESC_LIST, },
#	{ PCI_DEVICE(0x1bb1, 0x0100),   /* Seagate Nytro Flash Storage */
#		.driver_data = NVME_QUIRK_DELAY_BEFORE_CHK_RDY, },
#	{ PCI_DEVICE(0x1c58, 0x0003),	/* HGST adapter */
#		.driver_data = NVME_QUIRK_DELAY_BEFORE_CHK_RDY, },
#	{ PCI_DEVICE(0x1c58, 0x0023),	/* WDC SN200 adapter */
#		.driver_data = NVME_QUIRK_DELAY_BEFORE_CHK_RDY, },
#	{ PCI_DEVICE(0x1c5f, 0x0540),	/* Memblaze Pblaze4 adapter */
#		.driver_data = NVME_QUIRK_DELAY_BEFORE_CHK_RDY, },
#	{ PCI_DEVICE(0x144d, 0xa821),   /* Samsung PM1725 */
#		.driver_data = NVME_QUIRK_DELAY_BEFORE_CHK_RDY, },
#	{ PCI_DEVICE(0x144d, 0xa822),   /* Samsung PM1725a */
#		.driver_data = NVME_QUIRK_DELAY_BEFORE_CHK_RDY, },
#	{ PCI_DEVICE(0x1d1d, 0x1f1f),	/* LighNVM qemu device */
#		.driver_data = NVME_QUIRK_LIGHTNVM, },
#	{ PCI_DEVICE(0x1d1d, 0x2807),	/* CNEX WL */
#		.driver_data = NVME_QUIRK_LIGHTNVM, },
#	{ PCI_DEVICE(0x1d1d, 0x2601),	/* CNEX Granby */
#		.driver_data = NVME_QUIRK_LIGHTNVM, },
#	{ PCI_DEVICE(0x10ec, 0x5762),   /* ADATA SX6000LNP */
#		.driver_data = NVME_QUIRK_IGNORE_DEV_SUBNQN, },
#	{ PCI_DEVICE(0x1cc1, 0x8201),   /* ADATA SX8200PNP 512GB */
#		.driver_data = NVME_QUIRK_NO_DEEPEST_PS |
#				NVME_QUIRK_IGNORE_DEV_SUBNQN, },
#	{ PCI_DEVICE(0x1c5c, 0x1504),   /* SK Hynix PC400 */
#		.driver_data = NVME_QUIRK_DISABLE_WRITE_ZEROES, },
#	{ PCI_DEVICE(0x15b7, 0x2001),   /*  Sandisk Skyhawk */
#		.driver_data = NVME_QUIRK_DISABLE_WRITE_ZEROES, },
#	{ PCI_DEVICE(PCI_VENDOR_ID_APPLE, 0x2001),
#		.driver_data = NVME_QUIRK_SINGLE_VECTOR },
#	{ PCI_DEVICE(PCI_VENDOR_ID_APPLE, 0x2003) },
#	{ PCI_DEVICE(PCI_VENDOR_ID_APPLE, 0x2005),
#		.driver_data = NVME_QUIRK_SINGLE_VECTOR |
#				NVME_QUIRK_128_BYTES_SQES |
#				NVME_QUIRK_SHARED_TAGS },
#
#	{ PCI_DEVICE_CLASS(PCI_CLASS_STORAGE_EXPRESS, 0xffffff) },
#	{ 0, }
#};
#MODULE_DEVICE_TABLE(pci, nvme_id_table);
#define PCI_VENDOR_ID_APPLE		0x106b
#define PCI_VENDOR_ID_INTEL		0x8086

module="nvme.ko"
loglevel=8
harness="harness_blk_char.so"
n_request_irqs=0xfffff
devtype=0
vid=0x8086
did=0x0953
apply_hacks=0
minimize_delay=1
minimize_timeout=1
minimize_timebefore=1
minimize_timeafter=1
minimize_wq_delay=1
target_irq=1
fuzz_dma=1
use_done_cb=1
moddeps=["nvme-core.ko"]
