#
#static const struct pci_device_id p54p_table[] = {
#	/* Intersil PRISM Duette/Prism GT Wireless LAN adapter */
#	{ PCI_DEVICE(0x1260, 0x3890) },
#	/* 3COM 3CRWE154G72 Wireless LAN adapter */
#	{ PCI_DEVICE(0x10b7, 0x6001) },
#	/* Intersil PRISM Indigo Wireless LAN adapter */
#	{ PCI_DEVICE(0x1260, 0x3877) },
#	/* Intersil PRISM Javelin/Xbow Wireless LAN adapter */
#	{ PCI_DEVICE(0x1260, 0x3886) },
#	/* Intersil PRISM Xbow Wireless LAN adapter (Symbol AP-300) */
#	{ PCI_DEVICE(0x1260, 0xffff) },
#	{ },
#};
#

module="p54pci.ko"
interface="phy0"
vid=0x1260
did=0x3886
moddeps=["led-class.ko", "libarc4.ko", "cfg80211.ko", "mac80211.ko", "crc-ccitt.ko", "p54common.ko", "rtlwifi.ko", "rtl_pci.ko", "btcoexist.ko"]
fws=["fw/regulatory.db", "fw/regulatory.db.p7s", "fw/isl3886pci"]
