#
#static const struct pci_device_id pci200_pci_tbl[] = {
#	{ PCI_VENDOR_ID_PLX, PCI_DEVICE_ID_PLX_9050, PCI_VENDOR_ID_PLX,
#	  PCI_DEVICE_ID_PLX_PCI200SYN, 0, 0, 0 },
#	{ 0, }
#};
#
#
#static struct pci_driver pci200_pci_driver = {
#	.name		= "PCI200SYN",
#	.id_table	= pci200_pci_tbl,
#	.probe		= pci200_pci_init_one,
#	.remove		= pci200_pci_remove_one,
#};
#define PCI_VENDOR_ID_PLX		0x10b5
#define PCI_DEVICE_ID_PLX_R685		0x1030
#define PCI_DEVICE_ID_PLX_ROMULUS	0x106a
#define PCI_DEVICE_ID_PLX_SPCOM800	0x1076
#define PCI_DEVICE_ID_PLX_1077		0x1077
#define PCI_DEVICE_ID_PLX_SPCOM200	0x1103
#define PCI_DEVICE_ID_PLX_DJINN_ITOO	0x1151
#define PCI_DEVICE_ID_PLX_R753		0x1152
#define PCI_DEVICE_ID_PLX_OLITEC	0x1187
#define PCI_DEVICE_ID_PLX_PCI200SYN	0x3196
#define PCI_DEVICE_ID_PLX_9030          0x9030
#define PCI_DEVICE_ID_PLX_9050		0x9050
#define PCI_DEVICE_ID_PLX_9056		0x9056
#define PCI_DEVICE_ID_PLX_9080		0x9080
#define PCI_DEVICE_ID_PLX_GTEK_SERIAL2	0xa001
#define PCI_DEVICE_ID_PLX_PCI200SYN	0x3196

module="pci200syn.ko"
ifindex=3
vid=0x10b5
did=0x9050
svid=0x10b5
sdid=0x3196
moddeps=["hdlc.ko"]
