#static const struct pci_device_id pcnet32_pci_tbl[] = {
#	{ PCI_DEVICE(PCI_VENDOR_ID_AMD, PCI_DEVICE_ID_AMD_LANCE_HOME), },
#	{ PCI_DEVICE(PCI_VENDOR_ID_AMD, PCI_DEVICE_ID_AMD_LANCE), },
#
#	/*
#	 * Adapters that were sold with IBM's RS/6000 or pSeries hardware have
#	 * the incorrect vendor id.
#	 */
#	{ PCI_DEVICE(PCI_VENDOR_ID_TRIDENT, PCI_DEVICE_ID_AMD_LANCE),
#	  .class = (PCI_CLASS_NETWORK_ETHERNET << 8), .class_mask = 0xffff00, },
#
#	{ }	/* terminate list */
#};

#define	 PCI_VENDOR_ID_AMD		0x1022
#define PCI_DEVICE_ID_AMD_LANCE		0x2000
#define PCI_DEVICE_ID_AMD_LANCE_HOME	0x2001

module="pcnet32.ko"
interface="eth0"
vid=0x1022
did=0x2001
moddeps=["mii.ko"]
