#class IDE controller, addr 00:01.1, pci id 8086:7010 (sub 1af4:1100)
#bar 4: i/o at 0xc040 [0xc04f]
module="piix.ko"
harness="fuzz_base.so"
loglevel=8
interface="eth0"
vid=0x8086
did=0x7010
moddeps=["ide-core.ko"]
barsizes=[0xfffff, 0xfffff, 0xfffff, 0xfffff, 0xfffff]
barflags=[0x40300, 0x40300, 0x40200, 0x40200, 0x40200]
