#
#static const struct pci_device_id qtnf_pcie_devid_table[] = {
#	{
#		PCIE_VENDOR_ID_QUANTENNA, PCIE_DEVICE_ID_QSR,
#		PCI_ANY_ID, PCI_ANY_ID, 0, 0,
#	},
#	{ },
#};
#

#define PCIE_VENDOR_ID_QUANTENNA	(0x1bb5)
#define	PCIE_DEVICE_ID_QSR		(0x0008)


module="qtnfmac_pcie.ko"
interface="wlan0"
vid=0x1bb5
did=0x0008
moddeps=["cfg80211.ko", "qtnfmac.ko"]
fws=["fw/regulatory.db", "fw/regulatory.db.p7s"]
