# rtl8192ee
#
#static struct pci_device_id rtl8192_pci_id_tbl[] = {
#	{RTL_PCI_DEVICE(0x10ec, 0x8192, rtl819xp_ops)},
#	{RTL_PCI_DEVICE(0x07aa, 0x0044, rtl819xp_ops)},
#	{RTL_PCI_DEVICE(0x07aa, 0x0047, rtl819xp_ops)},
#	{}
#};
#

module="r8192e_pci.ko"
interface="wlan0"
vid=0x10ec
did=0x8192
moddeps=["lib80211.ko", "rtllib.ko", "rtllib_crypt_tkip.ko"]
barsizes=[0x1fffff, 0x1fffff, 0x1fffff]
barflags=[0x40200, 0x40200, 0x40200]
