module="rocker.ko"
harness="harness_basic.so"
n_request_irqs=0xfffff
loglevel=0
devtype=0
use_done_cb=0
update_hwm=1
fuzz_dma=1
use_bst=0
interface="eth0"
vid=0x1b36
did=0x0006
apply_hacks=1
minimize_delay=1
minimize_timeout=1
minimize_timebefore=1
minimize_timeafter=1
minimize_wq_delay=1
moddeps=[]
barsizes=[0x1fffff]
barflags=[0x40200]
target_irq=1
