#static const struct pci_device_id rt2500pci_device_table[] = {
#	{ PCI_DEVICE(0x1814, 0x0201) },
#	{ 0, }
#};

module="rt2500pci.ko"
interface="wlan0"
vid=0x1814
did=0x0201
moddeps=["led-class.ko", "libarc4.ko", "cfg80211.ko", "mac80211.ko", "rt2x00lib.ko", "crc-ccitt.ko", "rt2x00pci.ko", "rt2x00mmio.ko"]
fws=["fw/regulatory.db", "fw/regulatory.db.p7s"]
