#static const struct pci_device_id rt2800pci_device_table[] = {
#	{ PCI_DEVICE(0x1814, 0x0601) },
#	{ PCI_DEVICE(0x1814, 0x0681) },
#	{ PCI_DEVICE(0x1814, 0x0701) },
#	{ PCI_DEVICE(0x1814, 0x0781) },
#	{ PCI_DEVICE(0x1814, 0x3090) },
#	{ PCI_DEVICE(0x1814, 0x3091) },
#	{ PCI_DEVICE(0x1814, 0x3092) },
#	{ PCI_DEVICE(0x1432, 0x7708) },
#	{ PCI_DEVICE(0x1432, 0x7727) },
#	{ PCI_DEVICE(0x1432, 0x7728) },
#	{ PCI_DEVICE(0x1432, 0x7738) },
#	{ PCI_DEVICE(0x1432, 0x7748) },
#	{ PCI_DEVICE(0x1432, 0x7758) },
#	{ PCI_DEVICE(0x1432, 0x7768) },
#	{ PCI_DEVICE(0x1462, 0x891a) },
#	{ PCI_DEVICE(0x1a3b, 0x1059) },
##ifdef CONFIG_RT2800PCI_RT3290
#	{ PCI_DEVICE(0x1814, 0x3290) },
##endif
##ifdef CONFIG_RT2800PCI_RT33XX
#	{ PCI_DEVICE(0x1814, 0x3390) },
##endif
##ifdef CONFIG_RT2800PCI_RT35XX
#	{ PCI_DEVICE(0x1432, 0x7711) },
#	{ PCI_DEVICE(0x1432, 0x7722) },
#	{ PCI_DEVICE(0x1814, 0x3060) },
#	{ PCI_DEVICE(0x1814, 0x3062) },
#	{ PCI_DEVICE(0x1814, 0x3562) },
#	{ PCI_DEVICE(0x1814, 0x3592) },
#	{ PCI_DEVICE(0x1814, 0x3593) },
#	{ PCI_DEVICE(0x1814, 0x359f) },
##endif
##ifdef CONFIG_RT2800PCI_RT53XX
#	{ PCI_DEVICE(0x1814, 0x5360) },
#	{ PCI_DEVICE(0x1814, 0x5362) },
#	{ PCI_DEVICE(0x1814, 0x5390) },
#	{ PCI_DEVICE(0x1814, 0x5392) },
#	{ PCI_DEVICE(0x1814, 0x539a) },
#	{ PCI_DEVICE(0x1814, 0x539b) },
#	{ PCI_DEVICE(0x1814, 0x539f) },
##endif
#	{ 0, }
#};


module="rt2800pci.ko"
interface="wlan0"
vid=0x1814
did=0x0601
moddeps=["led-class.ko", "libarc4.ko", "cfg80211.ko", "mac80211.ko", "rt2x00lib.ko", "crc-ccitt.ko", "rt2x00pci.ko", "rt2x00mmio.ko", "rt2800lib.ko", "rt2800mmio.ko"]
fws=["fw/regulatory.db", "fw/regulatory.db.p7s", "fw/rt2860.bin"]
