#/*
# * RT61pci module information.
# */
#static const struct pci_device_id rt61pci_device_table[] = {
#	/* RT2561s */
#	{ PCI_DEVICE(0x1814, 0x0301) },
#	/* RT2561 v2 */
#	{ PCI_DEVICE(0x1814, 0x0302) },
#	/* RT2661 */
#	{ PCI_DEVICE(0x1814, 0x0401) },
#	{ 0, }
#};

module="rt61pci.ko"
interface="wlan0"
vid=0x1814
did=0x0301
moddeps=["led-class.ko", "libarc4.ko", "cfg80211.ko", "mac80211.ko", "rt2x00lib.ko", "crc-itu-t.ko", "rt2x00pci.ko", "rt2x00mmio.ko"]
fws=["fw/regulatory.db", "fw/regulatory.db.p7s", "fw/rt2561s.bin"]
