#define PCI_VENDOR_ID_REALTEK		0x10ec
#
#
#
#static const struct pci_device_id rtl92de_pci_ids[] = {
#	{RTL_PCI_DEVICE(PCI_VENDOR_ID_REALTEK, 0x8193, rtl92de_hal_cfg)},
#	{RTL_PCI_DEVICE(PCI_VENDOR_ID_REALTEK, 0x002B, rtl92de_hal_cfg)},
#	{},
#};
#
module="rtl8192de.ko"
interface="wlan0"
vid=0x10ec
did=0x002b
moddeps=["libarc4.ko", "cfg80211.ko", "mac80211.ko", "rtlwifi.ko", "rtl_pci.ko"]
fws=["fw/regulatory.db", "fw/regulatory.db.p7s", "fw/rtl8192defw.bin"]
