#define PCI_VENDOR_ID_REALTEK		0x10ec
#
#
#static const struct pci_device_id rtl92ee_pci_ids[] = {
#	{RTL_PCI_DEVICE(PCI_VENDOR_ID_REALTEK, 0x818B, rtl92ee_hal_cfg)},
#	{},
#};
#

module="rtl8192ee.ko"
interface="wlan0"
vid=0x10ec
did=0x818b
moddeps=["libarc4.ko", "cfg80211.ko", "mac80211.ko", "rtlwifi.ko", "rtl_pci.ko", "btcoexist.ko"]
fws=["fw/regulatory.db", "fw/regulatory.db.p7s", "fw/rtl8192eefw.bin"]
