#define PCI_VENDOR_ID_REALTEK		0x10ec
#
#static const struct pci_device_id rtl8821ae_pci_ids[] = {
#	{RTL_PCI_DEVICE(PCI_VENDOR_ID_REALTEK, 0x8812, rtl8821ae_hal_cfg)},
#	{RTL_PCI_DEVICE(PCI_VENDOR_ID_REALTEK, 0x8821, rtl8821ae_hal_cfg)},
#	{},
#};

module="rtl8821ae.ko"
interface="wlan0"
vid=0x10ec
did=0x8812
moddeps=["libarc4.ko", "cfg80211.ko", "mac80211.ko", "rtlwifi.ko", "rtl_pci.ko", "btcoexist.ko"]
fws=["fw/regulatory.db", "fw/regulatory.db.p7s", "fw/rtl8812aefw.bin", "fw/rtl8812aefw_wowlan.bin"]
