
#define PCI_VENDOR_ID_REALTEK		0x10ec
#
#
#static const struct pci_device_id rtl8723e_pci_ids[] = {
#	{RTL_PCI_DEVICE(PCI_VENDOR_ID_REALTEK, 0x8723, rtl8723e_hal_cfg)},
#	{},
#};

module="rtl8723ae.ko"
interface="wlan0"
vid=0x10ec
did=0x8723
moddeps=["libarc4.ko", "cfg80211.ko", "mac80211.ko", "rtlwifi.ko", "rtl_pci.ko", "btcoexist.ko", "rtl8723-common.ko"]
fws=["fw/regulatory.db", "fw/regulatory.db.p7s", "fw/rtl8723fw.bin"]
