
#define PCI_VENDOR_ID_REALTEK		0x10ec
#
#
#static const struct pci_device_id rtl92ce_pci_ids[] = {
#	{RTL_PCI_DEVICE(PCI_VENDOR_ID_REALTEK, 0x8191, rtl92ce_hal_cfg)},
#	{RTL_PCI_DEVICE(PCI_VENDOR_ID_REALTEK, 0x8178, rtl92ce_hal_cfg)},
#	{RTL_PCI_DEVICE(PCI_VENDOR_ID_REALTEK, 0x8177, rtl92ce_hal_cfg)},
#	{RTL_PCI_DEVICE(PCI_VENDOR_ID_REALTEK, 0x8176, rtl92ce_hal_cfg)},
#	{},
#};

module="rtl8192ce.ko"
interface="wlan0"
vid=0x10ec
did=0x8176
moddeps=["libarc4.ko", "cfg80211.ko", "mac80211.ko", "rtlwifi.ko", "rtl_pci.ko", "btcoexist.ko", "rtl8192c-common.ko"]
fws=["fw/regulatory.db", "fw/regulatory.db.p7s", "fw/rtl8192cfw.bin"]
barsizes=[0x1fffff,0x1fffff,0x1fffff, 0x1fffff, 0x1fffff]
barflags=[0x40200, 0x40200, 0x40200, 0x40200, 0x40200]
