#define PCI_VENDOR_ID_REALTEK		0x10ec
#

#static const struct pci_device_id rtl92se_pci_ids[] = {
#	{RTL_PCI_DEVICE(PCI_VENDOR_ID_REALTEK, 0x8192, rtl92se_hal_cfg)},
#	{RTL_PCI_DEVICE(PCI_VENDOR_ID_REALTEK, 0x8171, rtl92se_hal_cfg)},
#	{RTL_PCI_DEVICE(PCI_VENDOR_ID_REALTEK, 0x8172, rtl92se_hal_cfg)},
#	{RTL_PCI_DEVICE(PCI_VENDOR_ID_REALTEK, 0x8173, rtl92se_hal_cfg)},
#	{RTL_PCI_DEVICE(PCI_VENDOR_ID_REALTEK, 0x8174, rtl92se_hal_cfg)},
#	{},
#};

module="rtl8192se.ko"
interface="wlan0"
vid=0x10ec
did=0x8174
moddeps=["libarc4.ko", "cfg80211.ko", "mac80211.ko", "rtlwifi.ko", "rtl_pci.ko", "btcoexist.ko"]
fws=["fw/regulatory.db", "fw/regulatory.db.p7s", "fw/rtl8192sefw.bin"]
