#define PCI_VENDOR_ID_REALTEK		0x10ec
#
#
#static const struct pci_device_id rtl8723be_pci_ids[] = {
#	{RTL_PCI_DEVICE(PCI_VENDOR_ID_REALTEK, 0xB723, rtl8723be_hal_cfg)},
#	{},
#};


module="rtl8723be.ko"
interface="wlan0"
vid=0x10ec
did=0xb723
moddeps=["libarc4.ko", "cfg80211.ko", "mac80211.ko", "rtlwifi.ko", "rtl_pci.ko", "btcoexist.ko", "rtl8723-common.ko"]
fws=["fw/regulatory.db", "fw/regulatory.db.p7s", "fw/rtl8723befw_36.bin"]
barsizes=[0x1fffff,0x1fffff,0x1fffff, 0x1fffff, 0x1fffff]
barflags=[0x40200, 0x40200, 0x40200, 0x40200, 0x40200]
