#
#static const struct pci_device_id rtw_pci_id_table[] = {
##ifdef CONFIG_RTW88_8822BE
#	{ RTK_PCI_DEVICE(PCI_VENDOR_ID_REALTEK, 0xB822, rtw8822b_hw_spec) },
##endif
##ifdef CONFIG_RTW88_8822CE
#	{ RTK_PCI_DEVICE(PCI_VENDOR_ID_REALTEK, 0xC822, rtw8822c_hw_spec) },
##endif
#	{},
#};

#define PCI_VENDOR_ID_REALTEK		0x10ec

module="rtwpci.ko"
interface="wlan0"
vid=0x10ec
did=0xc822
moddeps=["cfg80211.ko", "libarc4.ko", "mac80211.ko", "rtw88.ko"]
fws=["fw/regulatory.db", "fw/regulatory.db.p7s", "fw/rtw8822c_fw.bin"]
