#static const struct pci_device_id s2io_tbl[] = {
#	{PCI_VENDOR_ID_S2IO, PCI_DEVICE_ID_S2IO_WIN,
#	 PCI_ANY_ID, PCI_ANY_ID},
#	{PCI_VENDOR_ID_S2IO, PCI_DEVICE_ID_S2IO_UNI,
#	 PCI_ANY_ID, PCI_ANY_ID},
#	{PCI_VENDOR_ID_S2IO, PCI_DEVICE_ID_HERC_WIN,
#	 PCI_ANY_ID, PCI_ANY_ID},
#	{PCI_VENDOR_ID_S2IO, PCI_DEVICE_ID_HERC_UNI,
#	 PCI_ANY_ID, PCI_ANY_ID},
#	{0,}
#};

#define PCI_VENDOR_ID_S2IO		0x17d5
#define	PCI_DEVICE_ID_S2IO_WIN		0x5731
#define	PCI_DEVICE_ID_S2IO_UNI		0x5831
#define PCI_DEVICE_ID_HERC_WIN		0x5732
#define PCI_DEVICE_ID_HERC_UNI		0x5832

#define PCI_VENDOR_ID_SITECOM		0x182d
module="s2io.ko"
interface="eth0"
vid=0x17d5
did=0x5731
moddeps=[]
barsizes=[0x1fffff,0x1fffff,0x1fffff, 0x1fffff, 0x1fffff]
barflags=[0x40200, 0x40200, 0x40200, 0x40200, 0x40200]
