#
#static const struct pci_device_id sc92031_pci_device_id_table[] = {
#	{ PCI_DEVICE(PCI_VENDOR_ID_SILAN, 0x2031) },
#	{ PCI_DEVICE(PCI_VENDOR_ID_SILAN, 0x8139) },
#	{ PCI_DEVICE(0x1088, 0x2031) },
#	{ 0, }
#};
#MODULE_DEVICE_TABLE(pci, sc92031_pci_device_id_table);
#define PCI_VENDOR_ID_SILAN		0x1904


module="sc92031.ko"
interface="eth0"
vid=0x1088
did=0x2031
moddeps=[]
