#
#/* PCI device ID table */
#static const struct pci_device_id ef4_pci_table[] = {
#	{PCI_DEVICE(PCI_VENDOR_ID_SOLARFLARE,
#		    PCI_DEVICE_ID_SOLARFLARE_SFC4000A_0),
#	 .driver_data = (unsigned long) &falcon_a1_nic_type},
#	{PCI_DEVICE(PCI_VENDOR_ID_SOLARFLARE,
#		    PCI_DEVICE_ID_SOLARFLARE_SFC4000B),
#	 .driver_data = (unsigned long) &falcon_b0_nic_type},
#	{0}			/* end of list */
#};

#define PCI_VENDOR_ID_SOLARFLARE	0x1924
#define PCI_DEVICE_ID_SOLARFLARE_SFC4000A_0	0x0703
#define PCI_DEVICE_ID_SOLARFLARE_SFC4000A_1	0x6703
#define PCI_DEVICE_ID_SOLARFLARE_SFC4000B	0x0710

module="sfc-falcon.ko"
interface="eth0"
vid=0x1924
did=0x0710
moddeps=["i2c-algo-bit.ko", "mdio.ko"]
barsizes=[0xfb0800,0x1fffff,0xffffff, 0xffffff, 0xffffff]
barflags=[0x40300, 0x40200, 0x40200, 0x40200, 0x40200]
