#
#static const struct pci_device_id sis900_pci_tbl[] = {
#	{PCI_VENDOR_ID_SI, PCI_DEVICE_ID_SI_900,
#	 PCI_ANY_ID, PCI_ANY_ID, 0, 0, SIS_900},
#	{PCI_VENDOR_ID_SI, PCI_DEVICE_ID_SI_7016,
#	 PCI_ANY_ID, PCI_ANY_ID, 0, 0, SIS_7016},
#	{0,}
#};
#MODULE_DEVICE_TABLE (pci, sis900_pci_tbl);
#define PCI_DEVICE_ID_SI_7016		0x7016
#define PCI_VENDOR_ID_SI		0x1039
#define PCI_DEVICE_ID_SI_900		0x0900

module="sis900.ko"
interface="eth0"
vid=0x1039
did=0x0900
moddeps=["mii.ko"]
