#
#static const struct pci_device_id skfddi_pci_tbl[] = {
#	{ PCI_VENDOR_ID_SK, PCI_DEVICE_ID_SK_FP, PCI_ANY_ID, PCI_ANY_ID, },
#	{ }			/* Terminating entry */
#};
#
#define PCI_VENDOR_ID_SK		0x1148
#define PCI_DEVICE_ID_SK_FP		0x4000
module="skfp.ko"
interface="fddi0"
vid=0x1148
did=0x4000
moddeps=["fddi.ko"]
