#
#static const struct pci_device_id slic_id_tbl[] = {
#	{ PCI_DEVICE(PCI_VENDOR_ID_ALACRITECH,
#		     PCI_DEVICE_ID_ALACRITECH_MOJAVE) },
#	{ PCI_DEVICE(PCI_VENDOR_ID_ALACRITECH,
#		     PCI_DEVICE_ID_ALACRITECH_OASIS) },
#	{ 0 }
#};
#
#define PCI_VENDOR_ID_ALACRITECH		0x139A
#define PCI_DEVICE_ID_ALACRITECH_MOJAVE		0x0005
#define PCI_DEVICE_ID_ALACRITECH_OASIS		0x0007

module="slicoss.ko"
interface="eth0"
vid=0x139a
did=0x0005
moddeps=[]
fws=["fw/gbdownload.sys"]
