#
#static const struct pci_device_id smsc9420_id_table[] = {
#	{ PCI_VENDOR_ID_9420, PCI_DEVICE_ID_9420, PCI_ANY_ID, PCI_ANY_ID, },
#	{ 0, }
#};

#define PCI_VENDOR_ID_9420		(0x1055)
#define PCI_DEVICE_ID_9420		(0xE420)


module="smsc9420.ko"
interface="eth0"
vid=0x1055
did=0xe420
moddeps=["mii.ko", "libphy.ko"]
barsizes=[0x1fffff,0x1fffff, 0x1fffff, 0x1fffff]
barflags=[0x40200, 0x40200, 0x40200, 0x40200]
