#define PCI_VENDOR_ID_INTEL              0x8086
#  k->device_id = 0x293e;
#  k->revision = 3;
#  k->device_id = 0x2668;
#  k->revision = 1;


module="snd-hda-intel.ko"
harness="fuzz_audio.so"
interface="eth0"
did=0x283e
vid=0x8086
svid=0x8086
pci_class=0x0403
revision=1
moddeps=["soundcore.ko", "snd.ko", "snd-timer.ko", "snd-pcm.ko", "firmware_class.ko", "snd-hda-core.ko", "snd-hwdep.ko", "snd-hda-codec.ko"]
barsizes=[0xfffff, 0xfffff, 0xfffff, 0xfffff, 0xfffff]
barflags=[0x40200, 0x40200, 0x40200, 0x40200, 0x40200]
