#define PCI_DEVICE_ID_INTEL_82801AA_5    0x2415
#define PCI_VENDOR_ID_INTEL              0x8086
#define PCI_CLASS_MULTIMEDIA_AUDIO       0x0401

module="snd-intel8x0.ko"
harness="fuzz_audio.so"
did=0x2415
vid=0x8086
svid=0x8086
pci_class=0x0401
revision=1
moddeps=["soundcore.ko", "snd.ko", "snd-timer.ko", "snd-pcm.ko", "ac97_bus.ko", "snd-ac97-codec.ko"]
barsizes=[0xfffff, 0xfffff, 0xfffff, 0xfffff, 0xfffff]
barflags=[0x40200, 0x40200, 0x40200, 0x40200, 0x40200]
