#
#define PCI_VENDOR_ID_STMMAC 0x700
##define STMMAC_QUARK_ID  0x0937
##define STMMAC_DEVICE_ID 0x1108
#
##define STMMAC_DEVICE(vendor_id, dev_id, info)	{	\
#	PCI_VDEVICE(vendor_id, dev_id),			\
#	.driver_data = (kernel_ulong_t)&info		\
#	}
#
#static const struct pci_device_id stmmac_id_table[] = {
#	STMMAC_DEVICE(STMMAC, STMMAC_DEVICE_ID, stmmac_pci_info),
#	STMMAC_DEVICE(STMICRO, PCI_DEVICE_ID_STMICRO_MAC, stmmac_pci_info),
#	STMMAC_DEVICE(INTEL, STMMAC_QUARK_ID, quark_pci_info),
#	{}
#};

module="stmmac-pci.ko"
interface="eth0"
vid=0x0700
did=0x1108
moddeps=["pps_core.ko", "ptp.ko", "libphy.ko", "phylink.ko", "stmmac.ko"]
