#
#static const struct pci_device_id happymeal_pci_ids[] = {
#	{ PCI_DEVICE(PCI_VENDOR_ID_SUN, PCI_DEVICE_ID_SUN_HAPPYMEAL) },
#	{ }			/* Terminating entry */
#};

#define PCI_VENDOR_ID_SUN		0x108e
#define PCI_DEVICE_ID_SUN_EBUS		0x1000
#define PCI_DEVICE_ID_SUN_HAPPYMEAL	0x1001
#define PCI_DEVICE_ID_SUN_RIO_EBUS	0x1100
#define PCI_DEVICE_ID_SUN_RIO_GEM	0x1101
#define PCI_DEVICE_ID_SUN_RIO_1394	0x1102
#define PCI_DEVICE_ID_SUN_RIO_USB	0x1103
#define PCI_DEVICE_ID_SUN_GEM		0x2bad
#define PCI_DEVICE_ID_SUN_SIMBA		0x5000
#define PCI_DEVICE_ID_SUN_PBM		0x8000
#define PCI_DEVICE_ID_SUN_SCHIZO	0x8001
#define PCI_DEVICE_ID_SUN_SABRE		0xa000
#define PCI_DEVICE_ID_SUN_HUMMINGBIRD	0xa001
#define PCI_DEVICE_ID_SUN_TOMATILLO	0xa801
#define PCI_DEVICE_ID_SUN_CASSINI	0xabba


module="sunhme.ko"
harness="harness_net.so"
interface="eth0"
n_request_irqs=0xfffff
loglevel=0
apply_hacks=1
devtype=0
minimize_delay=1
minimize_timeout=1
minimize_timebefore=1
minimize_timeafter=1
minimize_wq_delay=1
target_irq=1
use_done_cb=1
fuzz_dma=1
vid=0x108e
did=0x1001
use_bst=1
moddeps=[]
#define IORESOURCE_STARTALIGN   0x00080000
barsizes=[0xfffff, 0xfffff, 0xfffff, 0xfffff, 0xfffff, 0xfffff]
barflags=[0x80200, 0x80200, 0x80200, 0x80200, 0x80200, 0x80200]
