#
#static const struct pci_device_id tlan_pci_tbl[] = {
#	{ PCI_VENDOR_ID_COMPAQ, PCI_DEVICE_ID_COMPAQ_NETEL10,
#	  PCI_ANY_ID, PCI_ANY_ID, 0, 0, 0 },
#	{ PCI_VENDOR_ID_COMPAQ, PCI_DEVICE_ID_COMPAQ_NETEL100,
#	  PCI_ANY_ID, PCI_ANY_ID, 0, 0, 1 },
#	{ PCI_VENDOR_ID_COMPAQ, PCI_DEVICE_ID_COMPAQ_NETFLEX3I,
#	  PCI_ANY_ID, PCI_ANY_ID, 0, 0, 2 },
#	{ PCI_VENDOR_ID_COMPAQ, PCI_DEVICE_ID_COMPAQ_THUNDER,
#	  PCI_ANY_ID, PCI_ANY_ID, 0, 0, 3 },
#	{ PCI_VENDOR_ID_COMPAQ, PCI_DEVICE_ID_COMPAQ_NETFLEX3B,
#	  PCI_ANY_ID, PCI_ANY_ID, 0, 0, 4 },
#	{ PCI_VENDOR_ID_COMPAQ, PCI_DEVICE_ID_COMPAQ_NETEL100PI,
#	  PCI_ANY_ID, PCI_ANY_ID, 0, 0, 5 },
#	{ PCI_VENDOR_ID_COMPAQ, PCI_DEVICE_ID_COMPAQ_NETEL100D,
#	  PCI_ANY_ID, PCI_ANY_ID, 0, 0, 6 },
#	{ PCI_VENDOR_ID_COMPAQ, PCI_DEVICE_ID_COMPAQ_NETEL100I,
#	  PCI_ANY_ID, PCI_ANY_ID, 0, 0, 7 },
#	{ PCI_VENDOR_ID_OLICOM, PCI_DEVICE_ID_OLICOM_OC2183,
#	  PCI_ANY_ID, PCI_ANY_ID, 0, 0, 8 },
#	{ PCI_VENDOR_ID_OLICOM, PCI_DEVICE_ID_OLICOM_OC2325,
#	  PCI_ANY_ID, PCI_ANY_ID, 0, 0, 9 },
#	{ PCI_VENDOR_ID_OLICOM, PCI_DEVICE_ID_OLICOM_OC2326,
#	  PCI_ANY_ID, PCI_ANY_ID, 0, 0, 10 },
#	{ PCI_VENDOR_ID_COMPAQ, PCI_DEVICE_ID_NETELLIGENT_10_100_WS_5100,
#	  PCI_ANY_ID, PCI_ANY_ID, 0, 0, 11 },
#	{ PCI_VENDOR_ID_COMPAQ, PCI_DEVICE_ID_NETELLIGENT_10_T2,
#	  PCI_ANY_ID, PCI_ANY_ID, 0, 0, 12 },
#	{ 0,}
#};
#MODULE_DEVICE_TABLE(pci, tlan_pci_tbl);

#define PCI_VENDOR_ID_COMPAQ		0x0e11
#define PCI_DEVICE_ID_COMPAQ_TOKENRING	0x0508
#define PCI_DEVICE_ID_COMPAQ_TACHYON	0xa0fc
#define PCI_DEVICE_ID_COMPAQ_SMART2P	0xae10
#define PCI_DEVICE_ID_COMPAQ_NETEL100	0xae32
#define PCI_DEVICE_ID_COMPAQ_NETEL10	0xae34
#define PCI_DEVICE_ID_COMPAQ_TRIFLEX_IDE 0xae33
#define PCI_DEVICE_ID_COMPAQ_NETFLEX3I	0xae35
#define PCI_DEVICE_ID_COMPAQ_NETEL100D	0xae40
#define PCI_DEVICE_ID_COMPAQ_NETEL100PI	0xae43
#define PCI_DEVICE_ID_COMPAQ_NETEL100I	0xb011
#define PCI_DEVICE_ID_COMPAQ_CISS	0xb060
#define PCI_DEVICE_ID_COMPAQ_CISSB	0xb178
#define PCI_DEVICE_ID_COMPAQ_CISSC	0x46
#define PCI_DEVICE_ID_COMPAQ_THUNDER	0xf130
#define PCI_DEVICE_ID_COMPAQ_NETFLEX3B	0xf150


module="tlan.ko"
interface="eth0"
vid=0x0e11
did=0xae40
moddeps=[]
