module="tpm_tis.ko"
harness="harness_blk_char.so"
plt_name="tpm_tis"
n_request_irqs=0xffffff
devtype=2
loglevel=8
apply_hacks=0
minimize_delay=1
minimize_timeout=1
minimize_timebefore=1
minimize_timeafter=1
minimize_wq_delay=1
target_irq=1
use_done_cb=1
fuzz_dma=1
moddeps=["rng-core.ko", "tpm.ko", "tpm_tis_core.ko"]
barsizes=[0x1fffff, 0x1fffff, 0x1fffff, 0x1fffff]
barflags=[0x40200, 0x40200, 0x40200, 0x40200]
