module="tpm_tis.ko"
harness="fuzz_tpm_3.so"
plt_name="tpm_tis"
devtype=2
loglevel=8
apply_hacks=0
minimize_delay=1
minimize_timeout=1
minimize_timebefore=1
minimize_timeafter=1
minimize_wq_delay=1
disable_wp=1
interface="eth0"
vid=0x8086
did=0x1209
pci_class=0x0200
moddeps=["rng-core.ko", "tpm.ko", "tpm_tis_core.ko"]
barsizes=[0x1fffff, 0x1fffff, 0x1fffff, 0x1fffff]
barflags=[0x40200, 0x40200, 0x40200, 0x40200]
