#static const struct pci_device_id typhoon_pci_tbl[] = {
#	{ PCI_VENDOR_ID_3COM, PCI_DEVICE_ID_3COM_3CR990,
#	  PCI_ANY_ID, PCI_ANY_ID, 0, 0,TYPHOON_TX },
#	{ PCI_VENDOR_ID_3COM, PCI_DEVICE_ID_3COM_3CR990_TX_95,
#	  PCI_ANY_ID, PCI_ANY_ID, 0, 0, TYPHOON_TX95 },
#	{ PCI_VENDOR_ID_3COM, PCI_DEVICE_ID_3COM_3CR990_TX_97,
#	  PCI_ANY_ID, PCI_ANY_ID, 0, 0, TYPHOON_TX97 },
#	{ PCI_VENDOR_ID_3COM, PCI_DEVICE_ID_3COM_3CR990B,
#	  PCI_ANY_ID, 0x1000, 0, 0, TYPHOON_TXM },
#	{ PCI_VENDOR_ID_3COM, PCI_DEVICE_ID_3COM_3CR990B,
#	  PCI_ANY_ID, 0x1102, 0, 0, TYPHOON_FXM },
#	{ PCI_VENDOR_ID_3COM, PCI_DEVICE_ID_3COM_3CR990B,
#	  PCI_ANY_ID, 0x2000, 0, 0, TYPHOON_BSVR },
#	{ PCI_VENDOR_ID_3COM, PCI_DEVICE_ID_3COM_3CR990_FX,
#	  PCI_ANY_ID, 0x1101, 0, 0, TYPHOON_FX95 },
#	{ PCI_VENDOR_ID_3COM, PCI_DEVICE_ID_3COM_3CR990_FX,
#	  PCI_ANY_ID, 0x1102, 0, 0, TYPHOON_FX97 },
#	{ PCI_VENDOR_ID_3COM, PCI_DEVICE_ID_3COM_3CR990_FX,
#	  PCI_ANY_ID, 0x2101, 0, 0, TYPHOON_FX95SVR },
#	{ PCI_VENDOR_ID_3COM, PCI_DEVICE_ID_3COM_3CR990_FX,
#	  PCI_ANY_ID, 0x2102, 0, 0, TYPHOON_FX97SVR },
#	{ PCI_VENDOR_ID_3COM, PCI_DEVICE_ID_3COM_3CR990SVR95,
#	  PCI_ANY_ID, PCI_ANY_ID, 0, 0, TYPHOON_SVR95 },
#	{ PCI_VENDOR_ID_3COM, PCI_DEVICE_ID_3COM_3CR990SVR97,
#	  PCI_ANY_ID, PCI_ANY_ID, 0, 0, TYPHOON_SVR97 },
#	{ PCI_VENDOR_ID_3COM, PCI_DEVICE_ID_3COM_3CR990SVR,
#	  PCI_ANY_ID, PCI_ANY_ID, 0, 0, TYPHOON_SVR },
#	{ 0, }
#};
#MODULE_DEVICE_TABLE(pci, typhoon_pci_tbl);

#define PCI_VENDOR_ID_3COM		0x10b7
#define PCI_DEVICE_ID_3COM_3C985	0x0001
#define PCI_DEVICE_ID_3COM_3C940	0x1700
#define PCI_DEVICE_ID_3COM_3C339	0x3390
#define PCI_DEVICE_ID_3COM_3C359	0x3590
#define PCI_DEVICE_ID_3COM_3C940B	0x80eb
#define PCI_DEVICE_ID_3COM_3CR990	0x9900
#define PCI_DEVICE_ID_3COM_3CR990_TX_95	0x9902
#define PCI_DEVICE_ID_3COM_3CR990_TX_97	0x9903
#define PCI_DEVICE_ID_3COM_3CR990B	0x9904
#define PCI_DEVICE_ID_3COM_3CR990_FX	0x9905
#define PCI_DEVICE_ID_3COM_3CR990SVR95	0x9908
#define PCI_DEVICE_ID_3COM_3CR990SVR97	0x9909
#define PCI_DEVICE_ID_3COM_3CR990SVR	0x990a


module="typhoon.ko"
interface="eth0"
vid=0x10b7
did=0x990a
moddeps=[]
