#define PCI_VENDOR_ID_VIA		0x1106
#define PCI_DEVICE_ID_VIA_612X		0x3119
#
#static const struct pci_device_id rhine_pci_tbl[] = {
#	{ 0x1106, 0x3043, PCI_ANY_ID, PCI_ANY_ID, },	/* VT86C100A */
#	{ 0x1106, 0x3065, PCI_ANY_ID, PCI_ANY_ID, },	/* VT6102 */
#	{ 0x1106, 0x3106, PCI_ANY_ID, PCI_ANY_ID, },	/* 6105{,L,LOM} */
#	{ 0x1106, 0x3053, PCI_ANY_ID, PCI_ANY_ID, },	/* VT6105M */
#	{ }	/* terminate list */
#};
#MODULE_DEVICE_TABLE(pci, rhine_pci_tbl);


module="via-rhine.ko"
interface="eth0"
vid=0x1106
did=0x3053
moddeps=["mii.ko"]
