module="virtio_input.ko"
harness="fuzz_virtio.so"
request_irqs=0xffffff
loglevel=8
devtype=1
nqueues=4
fuzz_dma=0
extra_io=0
drain_irqs=0
features_set_mask_low=0x20000
features_set_mask_high=0x1
features_unset_mask_low=0x0
features_unset_mask_high=0x4
interface="eth0"
vid=0x0
did=18
moddeps=["virtio.ko", "virtio_ring.ko", "virtio_mmio.ko"]
