#define VIRTIO_NET_F_CTRL_VQ 17
#define VIRTIO_F_VERSION_1 32
#define VIRTIO_F_RING_PACKED 34
#define VIRTIO_NET_F_MRG_RXBUF 15

module="virtio_net.ko"
harness="fuzz_net_icmp.so"
#harness="fuzz_net_virtio_icmp.so"
#harness="fuzz_virtio_agressive.so"
n_request_irqs=0
loglevel=8
devtype=1
nqueues=4
interface="eth0"
vid=0x0
did=0x1
fuzz_dma=1
extra_io=1
drain_irqs=1
apply_hacks=1
minimize_delay=1
minimize_timeout=1
minimize_timebefore=1
minimize_timeafter=1
minimize_wq_delay=1
features_set_mask_low=0x20000
features_set_mask_high=0x1
features_unset_mask_low=0x0
features_unset_mask_high=0x4
moddeps=["virtio.ko", "virtio_ring.ko", "virtio_mmio.ko"]
