module="virtio-rng.ko"
harness="fuzz_virtio.so"
request_irqs=0xffffff
loglevel=8
devtype=1
nqueues=4
interface="eth0"
vid=0x0
did=0x4
apply_hacks=1
minimize_delay=1
minimize_timeout=1
minimize_timebefore=1
minimize_timeafter=1
minimize_wq_delay=1
fuzz_dma=0
extra_io=0
drain_irqs=1
moddeps=["rng-core.ko", "virtio.ko", "virtio_ring.ko", "virtio_mmio.ko"]
