module="virtio_crypto.ko"
harness="fuzz_virtio.so"
request_irqs=0xffffff
loglevel=8
devtype=1
nqueues=4
interface="eth0"
apply_hacks=1
minimize_delay=1
minimize_timeout=1
minimize_timebefore=1
minimize_timeafter=1
minimize_wq_delay=1
vid=0
did=20
moddeps=["crypto_engine.ko", "virtio.ko", "virtio_ring.ko", "virtio_mmio.ko"]
