module="vmxnet3.ko"
harness="fuzz_net_icmp.so"
request_irqs=0xffffff
interface="eth0"
minimize_delay=1
minimize_timeout=1
minimize_timebefore=1
minimize_timeafter=1
minimize_wq_delay=1
loglevel=0
vid=0x15ad
did=0x07b0
moddeps=[]
barsizes=[0xfffff, 0xfffff, 0xfffff, 0xfffff, 0xfffff]
barflags=[0x40200, 0x40200, 0x40200, 0x40200, 0x40200]
