#static const struct pci_device_id vmxnet3_pciid_table[] = {
#	{PCI_VDEVICE(VMWARE, PCI_DEVICE_ID_VMWARE_VMXNET3)},
#	{0}
#};

#define PCI_VENDOR_ID_VMWARE		0x15ad
#define PCI_DEVICE_ID_VMWARE_VMXNET3	0x07b0

module="vmxnet3.ko"
harness="harness_net.so"
interface="eth0"
n_request_irqs=0xffffff
devtype=0
apply_hacks=1
minimize_delay=1
minimize_timeout=1
minimize_timebefore=1
minimize_timeafter=1
minimize_wq_delay=1
target_irq=1
use_done_cb=1
fuzz_dma=1
loglevel=0
vid=0x15ad
did=0x07b0
revision=0x20
use_bst=1
moddeps=[]
barsizes=[0xfffff, 0xfffff, 0xfffff, 0xfffff, 0xfffff]
barflags=[0x40200, 0x40200, 0x40200, 0x40200, 0x40200]
