#static const struct pci_device_id vt6655_pci_id_table[] = {
#	{ PCI_VDEVICE(VIA, 0x3253) },
#	{ 0, }
#};
#define PCI_VENDOR_ID_VIA               0x1106

module="vt6655_stage.ko"
interface="wlan0"
vid=0x1106
did=0x3253
moddeps=["libarc4.ko", "cfg80211.ko", "mac80211.ko"]
fws=["fw/regulatory.db", "fw/regulatory.db.p7s"]
