# wil6210
# { PCI_DEVICE(0x1ae9, 0x0310) },
# { PCI_DEVICE(0x1ae9, 0x0302) }, /* same as above, firmware broken */
# { PCI_DEVICE(0x17cb, 0x1201) }, /* Talyn */
# { /* end: all zeroes */ },

#define WIL6210_MIN_MEM_SIZE (2 * 1024 * 1024UL)
#define WIL6210_MAX_MEM_SIZE (4 * 1024 * 1024UL)

module="wil6210.ko"
interface="wlan0"
vid=0x17cb
did=0x1201
barsize=0x300000
moddeps=["libarc4.ko", "cfg80211.ko", "mac80211.ko"]
fws=["fw/regulatory.db", "fw/regulatory.db.p7s"]
