#
#static const struct pci_device_id w840_pci_tbl[] = {
#	{ 0x1050, 0x0840, PCI_ANY_ID, 0x8153,     0, 0, 0 },
#	{ 0x1050, 0x0840, PCI_ANY_ID, PCI_ANY_ID, 0, 0, 1 },
#	{ 0x11f6, 0x2011, PCI_ANY_ID, PCI_ANY_ID, 0, 0, 2 },
#	{ }
#};
#
module="winbond-840.ko"
interface="eth0"
vid=0x1050
did=0x0840
moddeps=["mii.ko"]
